@charset "UTF-8";
body{ 
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #e9ecef;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%
}
.form-box{

	max-width: 800px;
	margin: 80px auto;
	background-color: white;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 15 px rgba(0, 0, 0, 0.05);
}
table{
		margin: auto;
	}

.zip-row{
	display: flex;

}



