@charset "UTF-8";
body{ 
	height: 100vh;
	width: 100%;
	margin: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%
}
.form-box{
	width: 400px;
	padding: 30px;
	background-color: white;
	border-radius: 8px; 
}
.form-box h1{
	text-align: center;
}

.zip-row{
	display: flex;

}
